:root {
    --color-NavyBlue: #2E2F42;
    --color-Iris: #4D5AE5;
    --color-Slate: #434455;
    --color-Main-Background: #FFFFFF;
    --color-Cornflower: #E7E9FC;
    --color-hero-button-shadow: rgba(0, 0, 0, 0.15);
    --color-Ocean: #404BBF;
    --color-Cloud: #F4F4FD;
    --color-Grey: rgba(46, 47, 66, 0.7);
    --color-Ellipse: rgba(255, 255, 255, 0.1);
    --color-Green: #31D0AA;
    --color-LIGHT-SLATE: #8E8F99;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
    background-color: var(--color-Main-Background);
    color: var(--color-Slate);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    max-width: 428px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }
}

.link {
    text-decoration: none;
}

.header {
    border-bottom: none;
}

@media (min-width:768px) {
    .header {
        border-bottom: 1px solid var(--color-Cornflower);
    }
}

.header-container-desktop {
    display: none;
}

@media (min-width:768px) {
    .header-container-desktop {
        display: flex;
        align-items: center;
    }
}

.header-container-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width:768px) {
    .header-container-mobile {
        display: none;
    }
}

.header-burger {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    stroke: black;
    margin: 24px 0;
}



.header .nav {
    display: none;
}

@media (min-width:768px) {
    .header .nav {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
    }
}

@media (min-width:1200px) {
    .header .nav {
        justify-content: flex-start;
    }
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-link {
    position: relative;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-Iris)
}

.logo .studio {
    color: var(--color-NavyBlue);
    margin: 0;
}

@media (min-width:1200px) {
    .logo .studio {
        margin-right: 76px;
    }
}

.nav .header-link {
    font-weight: 500;
    color: var(--color-NavyBlue);
    letter-spacing: 0.02em;
}


.address .address-link {
    color: var(--color-Slate);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list {
    display: flex;
    flex-direction: column;
    gap: 0;
    font-style: normal;
}

@media (min-width:1200px) {
    .address-list {
        flex-direction: row;
        gap: 20px;
    }
}

.address-link {
    display: block;
    padding: 4px 0;
}

@media (min-width:1200px) {
    .address-link {
        padding: 24px 0;
    }
}

/** header */

/** hero-section */
.main-section {
    padding-bottom: 120px;
}

.main-section:nth-child(1) {
    padding: 112px 0;
}

@media (min-width:1200px) {
    .main-section:nth-child(1) {
        padding: 188px 0;
    }
}

.hero {
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(var(--color-Grey), var(--color-Grey)), url('../images/people-office-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--color-NavyBlue);
}

@media (min-device-pixel-ratio:2),
(min-resolution:192dpi),
(min-resolution:2dppx) {
    .hero {
        background-image: linear-gradient(var(--color-Grey), var(--color-Grey)), url('../images/people-office-1@2.jpg');
    }
}

.hero-container {
    text-align: center;
}



.hero-title {
    font-size: 36px;
    width: 318px;
    margin: 0 auto;
    color: var(--color-Main-Background);
}

@media (min-width:768px) {
    .hero-title {
        font-size: 56px;
        width: 494px;
    }
}


.hero .button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    margin-top: 48px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    letter-spacing: 0.04em;
    background: var(--color-Iris);
    box-shadow: 0px 4px 4px var(--color-hero-button-shadow);
    color: var(--color-Main-Background);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/** hero-section */

/** section-1 */
.section-1 {
    padding: 120px 0;
}

.section-1-icons-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-container {
    display: none;
}

@media (min-width:1200px) {
    .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: var(--color-Cloud);
        border-radius: 4px;
    }
}

.section-1 .section-1-icons {
    width: 64px;
    height: 64px;
}

.section-1-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

@media (min-width:1200px) {
    .section-1-list {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}

.feature-list {
    flex-basis: calc((100% - 72px) / 1);
}

@media (min-width:768px) {
    .feature-list {
        flex-basis: calc((100% - 72px) / 2);
    }
}

@media (min-width:1200px) {
    .feature-list {
        flex-basis: calc((100% - 72px) / 4);
    }
}

.section-1 .strategy,
.section-1 .punctuality,
.section-1 .diligence,
.section-1 .technologies {
    margin: 8px 0;
}

.section-1 .strategy {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    color: var(--color-NavyBlue);
}

@media (min-width:768px) {
    .section-1 .strategy {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: left;
    }
}

.section-1 .punctuality {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;

    color: var(--color-NavyBlue);
}

@media (min-width:768px) {

    .section-1 .punctuality {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: left;
    }
}

.section-1 .diligence {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;

    color: var(--color-NavyBlue);
}

@media (min-width:768px) {

    .section-1 .diligence {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: left;
    }
}

.section-1 .technologies {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;

    color: var(--color-NavyBlue);
}

@media (min-width:768px) {

    .section-1 .technologies {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: left;
    }
}

.section-1 .text {
    line-height: 1.5;
}

/** section-1 */

/** section-2 */
@media (min-width:1px) {
    .section-2 {
        display: none;
    }
}

@media (min-width:1200px) {
    .section-2 {
        display: contents;
    }
}

.section-2-list {
    display: flex;
    gap: 24px;

}

.section-2-list-item {
    flex-basis: calc((100% - 48px) / 3);
}

.section-2-title {
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 72px;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-NavyBlue);
}



/** section-2 */

/** section-3 */

.section-3-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

@media (min-width:1200px) {
    .section-3-list {
        flex-wrap: nowrap;
        justify-content: left;
    }
}

.section-3 {
    padding-top: 120px;
    background-color: var(--color-Cloud);
}

.section-3-title {
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 72px;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-NavyBlue);
}

.team-member {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

@media (min-width:480px) {
    .team-member {
        flex-basis: calc((100% - 24px) / 1);
    }
}

@media (min-width:768px) {
    .team-member {
        flex-basis: calc((100% - 48px) / 2);
    }
}

@media (min-width:1200px) {
    .team-member {
        flex-basis: calc((100% - 72px) / 4);
    }
}

@media (max-width:1200px) {
    .team-member-image {
        width: 100%;
    }
}

.team-member-all-text {
    padding-top: 32px;
    padding-bottom: 32px;
}

@media (max-width:768px) {
    .team-member-all-text {
        padding: 32px 16px;
    }
}

.section-3 .team-member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: var(--color-NavyBlue);
}

.section-3 .team-member-description {
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 1.5;
    text-align: center;
}


.icons-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.icons-item {
    width: 40px;
    height: 40px;
    background-color: var(--color-Iris);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    width: 16px;
    height: 16px;
    fill: var(--color-Cloud);
}

.wrapper {
    padding: 0 93px;
}

@media (min-width:1200px) {
    .wrapper {
        padding: 0;
    }
}

/** section-3 */

/** section-4 */
.section-4 {
    padding-top: 130px;
}


.section-4-title {
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 76px;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-NavyBlue);

}


.customers-logo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

@media (min-width:1200px) {
    .customers-logo-list {
        flex-wrap: nowrap;
        justify-content: left;
    }
}

.customer-link {
    width: 100%;
    height: 88px;
    border: 1px solid var(--color-LIGHT-SLATE);
    border-radius: 4px;
    color: var(--color-LIGHT-SLATE);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width:1200px) {
    .customer-link {
        width: 168px;
    }
}

.customer-item {
    flex-basis: calc((100% - 72px) / 2);
}

@media (min-width:768px) {
    .customer-item {
        flex-basis: calc((100% - 72px) / 3);
    }
}

@media (min-width:1200px) {
    .customer-item {
        flex-basis: calc((100% - 72px) / 4);
    }
}

.customer-icon {
    width: 100%;
    height: 56px;
    fill: currentColor;
}

/** section-4 */

/** footer */
.footer {
    background-color: var(--color-NavyBlue);
    padding: 100px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

@media (min-width:768px) {
    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (min-width:1200px) {
    .footer-container {
        align-items: flex-start;
        justify-content: left;
    }
}

.footer .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    display: block;
    margin-bottom: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-Iris);
}

@media (min-width:768px) {
    .footer .logo {
        text-align: left;
    }
}

.footer .studio {
    color: var(--color-Cloud);
}

.footer-logo-container {
    max-width: 300px;
}

@media (min-width:1200px) {
    .footer-logo-container {
        margin-bottom: 0;
    }
}

@media (max-width:768px) {
    .footer-logo-container {
        margin: 0;
    }
}

.footer .text {
    line-height: 1.5;
    color: var(--color-Cornflower);
}

.footer-socials {
    margin: 72px 0;
}

@media (min-width:768px) {
    .footer-socials {
        margin: 0;
        margin-left: 20px;
        padding-bottom: 30px;
    }
}

@media (min-width:1200px) {
    .footer-socials {}
}

.social-text {
    color: var(--color-Main-Background);
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    padding-bottom: 16px;
}

@media (min-width:768px) {
    .social-text {
        text-align: left;
    }
}

.icons-list-footer {
    display: flex;
    align-items: center;
    gap: 24px;
    text-align: center;
    margin: 0;
    justify-content: center;
}

@media (min-width:768px) {
    .icons-list-footer {
        text-align: left;
        margin-right: 80px;
        justify-content: left;
    }
}

@media (min-width:1200px) {
    .icons-list-footer {
        margin: 0;
        width: 300px;
    }
}

.icons-item-footer {
    width: 40px;
    height: 40px;
    background-color: var(--color-Ellipse);
    border-radius: 50%;
}

.icons-link-footer {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-footer {
    width: 24px;
    height: 24px;
    fill: var(--color-Cloud);
}


.footer-subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: var(--color-Main-Background);
    width: 100%;
}

@media (min-width:768px) {
    .footer-subscribe-text {
        text-align: start;
        padding-left: 50px;
        padding-top: 40px;
        width: 300px;

    }
}

@media (min-width:1200px) {
    .footer-subscribe-text {
        padding: 0;
    }
}

.subscribe-input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 40px;
    background-color: var(--color-NavyBlue);
    border-radius: 4px;
    color: var(--color-Main-Background);
    margin-top: 16px;
}

@media (min-width:480px) {
    .subscribe-input {
        width: 396px;
    }
}

@media (min-width:768px) {
    .subscribe-input {
        width: 264px;
    }
}

.subscribe-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
}

.subscribe-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 40px;
    background-color: var(--color-Iris);
    border: none;
    border-radius: 4px;
    color: var(--color-Main-Background);
    text-align: left;
    padding-left: 24px;
    padding-right: 24px;
    transform: translate(4px, 20px);
}

@media (min-width:768px) {
    .subscribe-button {
        transform: translate(40px, 40px);
    }
}

@media (min-width:1200px) {
    .subscribe-button {
        transform: translate(20px, 20px);
    }
}

.send-svg {
    width: 24px;
    height: 20px;
    fill: var(--color-Main-Background);
}

.subscribe-button:hover {
    cursor: pointer;
}

.form-div {
    translate: none;
    width: 100%;
}

@media (min-width:1200px) {
    .form-div {
        width: 300px;
    }
}

.footer-subscribe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width:768px) {
    .footer-subscribe-container {
        flex-direction: row;
        justify-content: left;
        align-items: left;

    }
}


/** footer */

/** portfolio */


.section {
    padding: 96px 0px;
}

.filters .button {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--color-Iris);
    background-color: var(--color-Cloud);
    border: 1px solid var(--color-Cornflower);
    padding: 12px 24px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.filters-list {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 72px;
    padding-left: 16px;
}

@media (min-width:768px) {
    .filters-list {
        justify-content: center;
        flex-wrap: nowrap;
        padding: 0;
    }
}

.photo-desc {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
    line-height: 1.2;
    color: var(--color-NavyBlue);
}

.text-border {
    border: 0.5px solid var(--color-Cornflower);
    border-top: none;
    padding: 32px 0;
    padding-left: 16px;
}


.section-2-portf-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

@media (min-width:1200px) {
    .section-2-portf-list {
        justify-content: left;
    }
}

.section-2-porft-list-link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.blue-overlay-container {
    position: relative;
    overflow: hidden;
}

.blue-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-Iris);
    color: var(--color-Cloud);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 32px 40px;
}

.section-2-porft-list-link:hover .blue-overlay {
    transform: translateY(0);
}

.overlay-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.section-2-portf-list-item {
    flex-basis: calc((100% - 48px) / 1);
    width: 396px;
}

@media (min-width:768px) {
    .section-2-portf-list-item {
        width: 356px;
        flex-basis: calc((100% - 48px) / 2);
    }
}

@media (min-width:1200px) {
    .section-2-portf-list-item {
        flex-basis: calc((100% - 48px) / 3);
    }
}

.verity {
    line-height: 1.5;
}

.porft-list-item {
    padding-bottom: 24px;
}

.section-2-porft-list-link {
    color: var(--color-Slate);
}

/** portfolio */
/** modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: relative;
    overflow: none;
    width: 100%;
    height: 100%;
    max-width: 408px;
    max-height: 584px;
    border-radius: 4px;
    background-color: var(--color-Main-Background);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: scale(0);
}

.modal-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--color-Cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: var(--color-Ocean);
    fill: var(--color-Main-Background);
}

.modal-icon {
    width: 8px;
    height: 8px;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-insides {
    padding: 72px 24px;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 16px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.inputs:not(:last-child) {
    margin-bottom: 8px;
}

.inputs-text {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    color: var(--color-LIGHT-SLATE);
}

.input-changes {
    padding-left: 38px;
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-container {
    position: relative;
}

.form-svg {
    position: absolute;
    margin: 0;
    left: 16px;
    top: 55%;
    width: 18px;
    height: 24px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-changes:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--color-Iris);
}

.input-changes:focus+.form-svg {
    fill: var(--color-Iris);
}

.textarea-changes {
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 8px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-changes::placeholder {
    padding-top: 8px;
    padding-left: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.textarea-changes:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--color-Iris);
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-checkbox {
    appearance: none;

}

.modal-checkbox-span {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--color-NavyBlue);
    border-radius: 2px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(white, white);
    transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked+.modal-checkbox-span {
    background-image: url(../images/Vector.svg), linear-gradient(#404BBF, #404BBF);
}

.checkbox-text {
    appearance: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    color: #757575;
    margin-bottom: 24px;
}


.checkbox-link {
    color: var(--color-Iris);
}


.form-button {
    display: block;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5px;
    width: 169px;
    height: 56px;
    background-color: var(--color-Iris);
    border: none;
    border-radius: 4px;
    color: var(--color-Main-Background);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
    cursor: pointer;
    background-color: var(--color-Ocean);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/** modal */

/** modal-mobile */
.mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: var(--color-Main-Background);
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width:768px) {
    .mobile-menu {
        display: none;
    }
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.mobile-menu-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--color-Cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-button:hover,
.mobile-menu-button:focus {
    background-color: var(--color-Ocean);
    fill: var(--color-Main-Background);
}

.burger-nav {
    position: relative;
    top: 80px;
    left: 40px;
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.nav-list-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-NavyBlue);
}

.nav-list-item:hover,
.nav-list-item:focus {
    color: var(--color-Ocean);
}

.nav-list-item::after.current-mobile-link {
    color: var(--color-Ocean);
    content: '';
}

.current-mobile-link {
    color: var(--color-Ocean);
}

.mobile-menu-address {
    padding-top: 184px;
    padding-left: 40px;
}

.mobile-menu-address-tel {
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    line-height: 1.1;
    text-transform: capitalize;
    color: var(--color-Iris);
}

.mobile-menu-address-mail {
    font-weight: 500;
    font-style: normal;
    font-size: 26px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-Slate);
}

.mobile-menu-address-list {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
}

.icons-list-mobile-menu {
    display: flex;
    justify-content: center;
    gap: 34px;
    margin-top: 40px;
    padding-left: 20px;
}

.social-icon-mobile {
    fill: var(--color-Main-Background);
    width: 24px;
    height: 24px;
}

/** modal-mobile */

/** hovers*/


.icons-link:hover,
.icons-link:focus {
    background-color: var(--color-Ocean);
}

.icons-link-footer:hover,
.icons-link-footer:focus {
    background-color: var(--color-Green);
}


.customer-link:hover,
.customer-link:focus {
    border-color: var(--color-Ocean);
    color: var(--color-Ocean);
}

.button:hover,
.button:focus {
    cursor: pointer;
    background: var(--color-Ocean);
    color: var(--color-Main-Background);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero-button:hover {
    cursor: pointer;
}

.button:active {
    background: var(--color-Ocean);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.header-link:hover,
.header-link:focus {
    color: var(--color-Ocean);
}

.header-link.current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-Ocean);
    content: '';
}

.header-link.current {
    color: var(--color-Ocean);
}

.address-link:hover,
.address-link:focus {
    color: var(--color-Ocean);
}

.section-2-porft-list-link:hover,
.section-2-portf-list-link:focus {
    cursor: pointer;
    color: var(--color-Slate);
    display: block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}